h2{color:darkgrey;
font-family: avenir, sans serif;
text-align:center;
	font-size: 25pt;
  	font-weight: bold;
 	 margin-top: 5px;}

 body{background-color:black;}
.image{
	width:400px;
	margin:0 auto;
}
p{text-align:center;

	color:lightgrey;
	font-family: avenir, sans serif;
	font-size: 20pt;
	font-weight:thin;
	margin-top: 5px;}

.write{color:pink
	font weight:bold
	font-size:20;}

.poem{color:white;
	font-weight:bold;
	font-size:35pt;}

.bold{color:lightblue;
		font-weight:bold;
		font-size:35pt;}

.decor{color:pink;
	font-weight:bold;
	font-size:35pt;}

a{color:pink;}